.blob-num-deletion {
  background-color: #FECFCF !important;
}

.blob-code-deletion {
  background-color: #FECFCF !important;
}

.blob-num-addition {
  background-color: #A2FFB7 !important;
}

.blob-code-addition {
  background-color: #A2FFB7 !important;
}
